// COLOR
// ----------------------------------------
//
$color: (
	primary: (
		1: hsl(250, 100%, 50%)
 	),
  accent: (
    1: hsl(0, 100%, 50%)
  ),
  neutral: (
    1: hsl(0, 0%, 0%),
		2: hsl(0, 0%, 100%)
  )
);

// LINEAR-GRADIENT
// ----------------------------------------
//
$gradient: (
  alpha:  'linear-gradient(90deg, rgba(246, 213, 247, 0.5) 16.93%, rgba(251, 233, 215, 0.5) 81.25%)',
  beta:   'linear-gradient(270deg, rgba(177, 193, 217, 0.5) -11.21%, rgba(224, 229, 230, 0.5) 70.62%)',
  gamma:  'linear-gradient(246.92deg, rgba(181, 151, 246, 0.28) 35.53%, rgba(150, 198, 234, 0.56) 81.69%)',
  delta:  'linear-gradient(126deg, rgba(235, 244, 245, 0.24) 19.03%, rgba(181, 198, 224, 0.24) 69.93%), #FFFFFF'
);




// FONT-FAMILY
// ----------------------------------------
//
$font-family: (
	heading:    '"Arial", sans-serif',  // H1 - H6
  subheading: '"Arial", sans-serif',  // .subheading
  body:       '"Arial", sans-serif' , // .features-text, etc.
  button:     '"Arial", sans-serif'   // .btn
);

// FONT-SIZES
// ----------------------------------------
//
$font-sizes: (
  desktop: (
    h1:   ( 4.5rem, 5.125rem, 0 ),  // H1
    h2:   ( 3.25rem, 3.875rem, 0 ), // H2
    h3:   ( 2.25rem, 2.75rem, 0 ),  // H3
    h4:   ( 1.5rem, 2rem, 0 ),      // H4
    h5:   ( 1.25rem, 1.75rem, 0 ),  // H5
    h6:   ( 1rem, 1.5rem, 0 ),      // H6
    t-s:  ( .875rem, 1.25rem, 0 ),  // Text Small
    t-r:  ( 1rem, 1.5rem, 0 ),      // Text Regular
    t-l:  ( 1.25rem, 2rem, 0 )      // Text Large
  ),
  mobile: (
    h1:   ( 4.5rem, 5.125rem, 0 ),  // H1
    h2:   ( 3.25rem, 3.875rem, 0 ), // H2
    h3:   ( 2.25rem, 2.75rem, 0 ),  // H3
    h4:   ( 1.5rem, 2rem, 0 ),      // H4
    h5:   ( 1.25rem, 1.75rem, 0 ),  // H5
    h6:   ( 1rem, 1.5rem, 0 ),      // H6
    t-s:  ( .875rem, 1.25rem, 0 ),  // Text Small
    t-r:  ( 1rem, 1.5rem, 0 ),      // Text Regular
    t-l:  ( 1.25rem, 2rem, 0 )      // Text Large
  )
);

// FONT-WEIGHT
// ----------------------------------------
//
$font-weight: (
  regular: 400,
  bold:    700
);



// TRANSITIONS
// ----------------------------------------
//
$transition: (
  text:   'color 200ms ease',
  button: 'all 400ms ease'
)